<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XmlFormatter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XmlFormatter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <XmlFormatter.Properties.Settings>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AskBeforeClosing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstTimeTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchUpdateOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value>0.0.0</value>
            </setting>
            <setting name="HotfolderActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateStrategy" serializeAs="String">
                <value>XmlFormatter.src.Update.Strategies.OpenGitHubReleasesStrategy</value>
            </setting>
            <setting name="LoggingFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LoggingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </XmlFormatter.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <XmlFormatter.Properties.Settings>
            <setting name="LowestSupportedVersion" serializeAs="String">
                <value>0.0.6</value>
            </setting>
        </XmlFormatter.Properties.Settings>
    </applicationSettings>
</configuration>